@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  background: #1a1b26;
  color: #ddd;
  font-family: JetBrains Mono, monospace;
  font-weight: 400;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-template-tag,
.hljs-template-variable {
  color: #9ece6a;
}

.hljs-string {
    color: #9ece6a;
}

.hljs-variable {
    color: #c0caf5;
}

.hljs-title.class_,
.hljs-class .hljs-title {
  color: white;
}

.hljs-built_in {
    color: #7aa2f7;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #565f89;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}
