@import '../fonts/iosevka_aile/iosevka-aile.css';
@import './reboot.css';

* {
    font-family: 'Iosevka Aile Web', sans-serif;
    color: #9aa5ce;
}

*:focused {
    display: none;
}

html {
    background-color: #1a1b26;
}

body {
    background: gray;
    margin: 12px auto;
    width: 50%;
    background: #24283b;
    padding: 12px;
    border-radius: 8px;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #7aa2f7;
    margin-bottom: 1.75rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.3rem;
    color: #9ece6a;
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: var(--font-size);
    font-weight: 400;
}

pre code { /* Code Blocks */
    background: #414868;
    padding: 2px;
    border-radius: 4px;
    font-weight: 200;

    display: block;
    width: fit-content;
}

code { /* Inline Code */
    background: #414868;
    border-radius: 2px;
}

/* unvisited link */
a:link {
  color: #9ece6a;
}

/* visited link */
a:visited {
  color: #9ece6a;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: #9ece6a;
}
